/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #6dd5fa, #2980b9);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* App Container */
.app {
  background: white;
  width: 100%;
  max-width: 380px;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

/* Input + Button */
input {
  width: 70%;
  padding: 10px;
  border: 2px solid #2980b9;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  margin-left: 5px;
  border: none;
  background:#2980b9;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

button:hover {
  background: #1b5e85;
}

/* Weather Info */
#weather {
  margin-top: 20px;
}

#icon {
  width: 80px;
}

#temp {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}

#description {
  text-transform: capitalize;
  font-size: 20px;
}

#wind {
  margin-top: 8px;
  font-size: 16px;
  color: #444;
}

/* Message box for errors */
#message {
  margin-top: 12px;
  color: red;
  font-weight: bold;
}
